<script data-tpl="chart" type="text/html">
  <div class="chart_body">
    <svg xmlns="http://www.w3.org/2000/svg"
        class="svg_chart" width="<%: _.width %>px" height="<%: _.height %>px">
      <g class="axes">
        <% for (type in _.axes) if (type !== 'bottom') { %>
          <%: $.tpl('chart_axis', _.axes[type]) %>
        <% } %>
        <% if ('bottom' in _.axes) { %>
          <%: $.tpl('chart_axis', _.axes['bottom']) %>
        <% } %>
      </g>
      <g class="Colors curves" transform="translate(<%: _.data_translate %>)">
        <% for (var type in _.data) { %>
          <%: $.tpl('chart_curves', _.data[type]) %>
        <% } %>
      </g>
    </svg>
    <div class="highlight"></div>
  </div>
</script>


<script data-tpl="chart_axis" type="text/html">
  <g class="axis axis-<%: _.type%>" transform="translate(<%: _.translate %>)">
    <g class="ticks">
      <% for (var i = 0; i < _.ticks.length; i++) { %>
        <g transform="translate(<%: _.ticks[i].xy %>)">
          <line class="tick-line"
            x2="<%: _.tick_line.x2 %>" y2="<%: _.tick_line.y2 %>" />
          <text class="tick-text"
            dx="<%: _.tick_dx %>" dy="<%: _.tick_dy %>">
            <%= _.ticks[i].str %>
          </text>
        </g>
      <% } %>
    </g>
    <line class="axis-line" x2="<%: _.line.x2 %>" y2="<%: _.line.y2 %>" />
  </g>
</script>


<script data-tpl="chart_curves" type="text/html">
  <% for (var i = 0; i < _.length; i++) { %>
    <path class="curve color_<%: i %>" d="<%: _[i] %>" />
  <% } %>
</script>


<script data-tpl="chart_highlight" type="text/html">
  <div class="Colors highlight_group"
      style="top:<%: _.top %>px;left:<%: _.x %>px;height:<%: _.height %>px">
    <div class="values <%: _.side %>" style="top:<%: _.y %>px">
      <% if ('left' in _.values) { %>
        <%: $.tpl('chart_values', _.values['left']) %>
      <% } %>
      <% if ('right' in _.values) { %>
        <%: $.tpl('chart_values', _.values['right']) %>
      <% } %>
    </div>
    <div class="line"></div>
    <div class="bullets">
      <% if ('left' in _.values) { %>
        <%: $.tpl('chart_bullets', _.values['left']) %>
      <% } %>
      <% if ('right' in _.values) { %>
        <%: $.tpl('chart_bullets', _.values['right']) %>
      <% } %>
    </div>
  </div>
</script>


<script data-tpl="chart_values" type="text/html">
  <div>
    <% for (var i = 0; i < _.length; i++) { %>
      <div class="value_line">
        <div class="marker color_<%: i %>">
          <div class="bullet color_<%: i %>"></div>
        </div>
        <span class="value"><%= _[i].value %></span>
        &#032;<span class="name"><%= _[i].name %></span>
      </div>
    <% } %>
  </div>
</script>


<script data-tpl="chart_bullets" type="text/html">
  <div>
    <% for (var i = 0; i < _.length; i++) { %>
      <div class="bullet color_<%: i %>" style="top:<%: _[i].y %>px"></div>
    <% } %>
  </div>
</script>
