<script data-tpl="chart" type="text/html">
  <div class="chart_body">
    <svg xmlns="http://www.w3.org/2000/svg"
        class="svg_chart" viewBox="<%: _.viewBox %>">
      <g class="axes">
        <% for (type in _.axes) if (type !== 'bottom') { %>
          <%: $.tpl('axis', _.axes[type]) %>
        <% } %>
        <% if ('bottom' in _.axes) { %>
          <%: $.tpl('axis', _.axes['bottom']) %>
        <% } %>
      </g>
      <g class="curves" transform="translate(<%: _.data_translate %>)">
        <% for (type in _.data) { %>
          <%: $.tpl('curves', _.data[type]) %>
        <% } %>
      </g>
    </svg>
  </div>
</script>


<script data-tpl="axis" type="text/html">
  <g class="axis axis-<%: _.type%>" transform="translate(<%: _.translate %>)">
    <g class="ticks">
      <% for (var i = 0; i < _.ticks.length; i++) { %>
        <g transform="translate(<%: _.ticks[i].xy %>)">
          <line class="tick-line"
            x2="<%: _.tick_line.x2 %>" y2="<%: _.tick_line.y2 %>" />
          <text class="tick-text"
            dx="<%: _.ticks[i].dx %>" dy="<%: _.ticks[i].dy %>">
            <%= _.ticks[i].str %>
          </text>
        </g>
      <% } %>
    </g>
    <line class="axis-line" x2="<%: _.line.x2 %>" y2="<%: _.line.y2 %>" />
  </g>
</script>


<script data-tpl="curves" type="text/html">
  <% for (var i = 0; i < _.length; i++) { %>
    <path class="curve curve_<%: i %>" d="<%: _[i] %>" />
  <% } %>
</script>
