.svg_chart {
  width: 100%;
  height: 100%;
  display: block;
  cursor: default;
  font-size: inherit;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}

.chart_body {
  position: relative;
}

.chart_body .axes {
  font-size: 80%;
  position: absolute;
  width: 100%;
  height: 100%;
}

.chart_body .axis {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
}

.chart_body .axis-left {
  background-color: #fff;
  left: 0;
}

.chart_body .axis-right {
  background-color: #fff;
  right: 0;
}

.chart_body .axis-left .tick,
.chart_body .axis-right .tick {
  border-top: 1px solid #aaa;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}

.chart_body .axis-left .tick:first-child,
.chart_body .axis-right .tick:first-child {
  border-top: 1px solid #333;
}

.chart_body .axis-bottom .tick {
  border-left: 1px solid #333;
  position: absolute;
  height: 4px;
}

.chart_body .axis-left .text,
.chart_body .axis-right .text {
  background-color: #fff;
  position: absolute;
  padding: 0 .3em;
  color: #333;
  top: -.8em;
}

.chart_body .axis-bottom .text {
  position: absolute;
  white-space: nowrap;
  color: #333;
}

.chart_body .axis-bottom .text span {
  position: relative;
  right: 50%;
}
