<script data-tpl="chart" type="text/html">
  <div class="chart_body"
      style="width:<%: _.width %>px;height:<%: _.height %>px">
    <%: $.tpl('chart_axes', _.axes) %>
    <svg xmlns="http://www.w3.org/2000/svg"
        class="svg_chart">
      <g class="Colors curves" transform="translate(<%: _.data_translate %>)">
        <% for (var type in _.data) { %>
          <%: $.tpl('chart_curves', _.data[type]) %>
        <% } %>
      </g>
    </svg>
    <%: _._nodes %>
  </div>
</script>


<script data-tpl="chart_axes" type="text/html">
  <div class="axes">
    <% for (type in _) if (type !== 'bottom') { %>
      <%: $.tpl('chart_axis', _[type]) %>
    <% } %>
    <% if ('bottom' in _) { %>
      <%: $.tpl('chart_axis', _['bottom']) %>
    <% } %>
  </div>
</script>


<script data-tpl="chart_axis" type="text/html">
  <div class="axis axis-<%: _.type%>" style="width:<%: _.width %>">
    <% for (var i = 0; i < _.ticks.length; i++) { %>
      <div class="tick" style="<%: _.ticks[i].shift %>">
        <div class="text" style="<%: _.text_pos %>">
          <span><%= _.ticks[i].str %></span>
        </div>
      </div>
    <% } %>
  </div>
</script>


<script data-tpl="chart_curves" type="text/html">
  <% for (var i = 0; i < _.length; i++) { %>
    <path class="curve color_<%: i %>" d="<%: _[i] %>" />
  <% } %>
</script>
