.svg_chart {
  width: 100%;
  height: 100%;
  display: block;
  cursor: default;
  font-size: inherit;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}

.chart_body {
  position: relative;
}

.chart_body .axes {
  font-size: 80%;
  position: absolute;
  width: 100%;
  height: 100%;
}

.chart_body .axis {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
}

.chart_body .axis-left {
  background-color: #fff;
  left: 0;
}

.chart_body .axis-right {
  background-color: #fff;
  right: 0;
}

.chart_body .axis-left .tick,
.chart_body .axis-right .tick {
  border-top: 1px solid #ccc;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}

.chart_body .axis-left .tick:first-child,
.chart_body .axis-right .tick:first-child {
  border-top: 1px solid #666;
}

.chart_body .axis-bottom .tick {
  border-left: 1px solid #666;
  position: absolute;
  height: 5px;
}

.chart_body .axis-left .text,
.chart_body .axis-right .text {
  background-color: #fff;
  position: absolute;
  padding: 0 .3em;
  color: #666;
  top: -.8em;
}

.chart_body .axis-bottom .text {
  position: absolute;
  white-space: nowrap;
  color: #777;
}

.chart_body .axis-bottom .text span {
  position: relative;
  right: 50%;
}

.chart_body .highlight {
  position: absolute;
  z-index: 3;
  left: 0;
  top: 0;
}

.chart_body .highlight_group {
  position: absolute;
  top: 0;
  left: 0;
  border-left: 1px dotted #999;
}

.chart_body .highlight .values {
  font-size: 80%;
  position: absolute;
  white-space: nowrap;
  border: 1px solid #ccc;
  background-color: #fff;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  padding: .3em 1em;
}

.chart_body .highlight .values.left {
  left: 1em;
}

.chart_body .highlight .values.right {
  right: 1em;
}

.chart_body .highlight .values .value {
  vertical-align: middle;
  display: inline-block;
  width: 3em;
}

.chart_body .highlight .values .name {
  display: inline-block;
  width: 8em;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
}

.chart_body .highlight .bullet {
  position: absolute;
  top: 0;
  left: -4px;
  border-radius: 50%;
  width: 8px;
  height: 8px;
}

.chart_body .highlight .marker {
  vertical-align: middle;
  display: inline-block;
  position: relative;
  margin-right: .5em;
  width: 30px;
  height: 2px;
}

.chart_body .highlight .marker .bullet {
  top: -3px;
  left: 11px;
}
