<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>Dashboard vanilla js</title>

<link rel="stylesheet" href="./styles/css/reset.css" />
<!-- link rel="stylesheet" href="./styles/css/styles.css" / -->

<script src="./scripts/lib/shortcuts.js"></script>
<script src="./scripts/lib/templates.js"></script>
<script src="./scripts/lib/numbers.js"></script>
<script src="./scripts/lib/dates.js"></script>
<script src="./scripts/lib/widget.js"></script>

<script src="./scripts/widgets/app.js"></script>

<script src="./scripts/init.js"></script>


<script data-tpl="App" type="text/html">
  <div class="App" data-obj="<%= _.id %>">
    <%: _.content %>
  </div>
</script>


<script data-tpl="Menu" type="text/html">
  <div class="Menu" data-obj="<%= _.id %>">
    Menu
    <ul>
      <% for (var i = 0; i < _.items.length; i++) { %>
        <li>
          <a href="<%: _.items[i].link %>">
            <%= _.items[i].name %>
          </a>
        </li>
      <% } %>
    </ul>
  </div>
</script>


<script data-tpl="Page" type="text/html">
  <div class="Page" data-obj="<%= _.id %>">
    Page <%= _.id %> <%= _.name %>
    <%: _.content %>
  </div>
</script>


<script data-tpl="Panel" type="text/html">
  <div class="Panel" data-obj="<%= _.id %>">
    Panel <%= _.id %>
    <%: _.content %>
  </div>
</script>


<script data-tpl="Column" type="text/html">
  <span class="Column" data-obj="<%= _.id %>">
    Column <%= _.id %>
  </span>
</script>

</head>

<body></body>
</html>
