<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>Dashboard vanilla js</title>

<link rel="stylesheet" href="./styles/css/reset.css" />
<link rel="stylesheet" href="./styles/css/grid.css" />
<link rel="stylesheet" href="./styles/css/header.css" />
<link rel="stylesheet" href="./styles/css/chart_linear.css" />

<script src="./scripts/lib/shortcuts.js"></script>
<script src="./scripts/lib/templates.js"></script>
<script src="./scripts/lib/numbers.js"></script>
<script src="./scripts/lib/dates.js"></script>
<script src="./scripts/lib/widget.js"></script>

<script src="./scripts/widgets/app.js"></script>
<script src="./scripts/widgets/chart_linear.js"></script>

<script src="./scripts/init.js"></script>


<script data-tpl="App" type="text/html">
  <div class="App" data-obj="<%= _.id %>">
    <%: _.content %>
  </div>
</script>


<script data-tpl="Header" type="text/html">
  <header class="Header" data-obj="<%= _.id %>">
    <%= _.text %>
  </header>
</script>


<script data-tpl="Menu" type="text/html">
  <div class="Menu" data-obj="<%= _.id %>">
    Menu
    <ul>
      <% for (var i = 0; i < _.items.length; i++) { %>
        <li>
          <a href="<%: _.items[i].link %>">
            <%= _.items[i].name %>
          </a>
        </li>
      <% } %>
    </ul>
  </div>
</script>


<script data-tpl="Page" type="text/html">
  <div class="Page" data-obj="<%= _.id %>">
    <div class="PageHeader">
      Page <%= _.id %> <%= _.name %>
    </div>
    <div class="grid">
      <%: _.content %>
    </div>
  </div>
</script>


<script data-tpl="Panel" type="text/html">
  <div class="Panel row" data-obj="<%= _.id %>">
    <%: _.content %>
  </div>
</script>


<script data-tpl="Column" type="text/html">
  <div class="Column col-<%= _.cols %>" data-obj="<%= _.id %>">
    <%: _.content %>
  </div>
</script>


<script data-tpl="ChartLinear" type="text/html">
  <div class="ChartLinear" data-obj="<%= _.id %>">
    <div class="header">
      <h3><%= _.name %></h3>
    </div>
    <div class="body">
      <svg xmlns="http://www.w3.org/2000/svg"
          class="SVGChart" viewBox="<%: _.viewBox %>">
        <g class="axes">
          <% for (type in _.axes) if (type !== 'bottom') { %>
            <%: $.tpl('axis', _.axes[type]) %>
          <% } %>
          <% if ('bottom' in _.axes) { %>
            <%: $.tpl('axis', _.axes['bottom']) %>
          <% } %>
        </g>
        <g class="curves" transform="translate(<%: _.data_translate %>)">
          <% for (type in _.data) { %>
            <%: $.tpl('curves', _.data[type]) %>
          <% } %>
        </g>
      </svg>
    </div>
  </div>
</script>


<script data-tpl="axis" type="text/html">
  <g class="axis axis-<%: _.type%>" transform="translate(<%: _.translate %>)">
    <g class="ticks">
      <% for (var i = 0; i < _.ticks.length; i++) { %>
        <g transform="translate(<%: _.ticks[i].xy %>)">
          <line class="tick-line"
            x2="<%: _.tick_line.x2 %>" y2="<%: _.tick_line.y2 %>" />
          <text class="tick-text"
            dx="<%: _.ticks[i].dx %>" dy="<%: _.ticks[i].dy %>">
            <%= _.ticks[i].str %>
          </text>
        </g>
      <% } %>
    </g>
    <line class="axis-line" x2="<%: _.line.x2 %>" y2="<%: _.line.y2 %>" />
  </g>
</script>


<script data-tpl="curves" type="text/html">
  <% for (var i = 0; i < _.length; i++) { %>
    <path class="curve curve_<%: i %>" d="<%: _[i] %>" />
  <% } %>
</script>

</head>

<body></body>
</html>
