<script data-tpl="App" type="text/html">
  <div class="App" data-obj="<%= _._id %>">
    <%: _._nodes %>
  </div>
</script>


<script data-tpl="Header" type="text/html">
  <header class="Header" data-obj="<%= _._id %>">
    <%= _.text %>
  </header>
</script>


<script data-tpl="Page" type="text/html">
  <div class="Page grid" data-obj="<%= _._id %>">
    <div class="PageHeader col-24">
      <h1>Page <%= _._id %> <%= _.name %></h1>
      <div class="btn-flat noselect">button</div>
      <div class="btn green noselect">button</div>
    </div>
    <div class="page_body">
      <%: _._nodes %>
    </div>
  </div>
</script>


<script data-tpl="Panel" type="text/html">
  <div class="Panel row" data-obj="<%= _._id %>">
    <%: _._nodes %>
  </div>
</script>


<script data-tpl="Column" type="text/html">
  <div class="Column col-<%= _.cols %>" data-obj="<%= _._id %>">
    <%: _._nodes %>
  </div>
</script>
