.Colors div.color_0 {
  background-color: rgb(27, 158, 119);
}

.Colors div.color_1 {
  background-color: rgb(217, 95, 2);
}

.Colors div.color_2 {
  background-color: rgb(117, 112, 179);
}

.Colors div.color_3 {
  background-color: rgb(231, 41, 138);
}

.Colors div.color_4 {
  background-color: rgb(102, 166, 30);
}

.Colors div.color_5 {
  background-color: rgb(230, 171, 2);
}

.Colors div.color_6 {
  background-color: rgb(166, 118, 29);
}

.Colors div.color_7 {
  background-color: rgb(102, 102, 102);
}

.Colors div.border_0 {
  border-color: rgb(27, 158, 119);
}

.Colors div.border_1 {
  border-color: rgb(217, 95, 2);
}

.Colors div.border_2 {
  border-color: rgb(117, 112, 179);
}

.Colors div.border_3 {
  border-color: rgb(231, 41, 138);
}

.Colors div.border_4 {
  border-color: rgb(102, 166, 30);
}

.Colors div.border_5 {
  border-color: rgb(230, 171, 2);
}

.Colors div.border_6 {
  border-color: rgb(166, 118, 29);
}

.Colors div.border_7 {
  border-color: rgb(102, 102, 102);
}

.Colors path.color_0 {
  stroke: rgb(27, 158, 119);
  fill: rgb(27, 158, 119);
}

.Colors path.color_1 {
  stroke: rgb(217, 95, 2);
  fill: rgb(217, 95, 2);
}

.Colors path.color_2 {
  stroke: rgb(117, 112, 179);
  fill: rgb(117, 112, 179);
}

.Colors path.color_3 {
  stroke: rgb(231, 41, 138);
  fill: rgb(231, 41, 138);
}

.Colors path.color_4 {
  stroke: rgb(102, 166, 30);
  fill: rgb(102, 166, 30);
}

.Colors path.color_5 {
  stroke: rgb(230, 171, 2);
  fill: rgb(230, 171, 2);
}

.Colors path.color_6 {
  stroke: rgb(166, 118, 29);
  fill: rgb(166, 118, 29);
}

.Colors path.color_7 {
  stroke: rgb(102, 102, 102);
  fill: rgb(102, 102, 102);
}
