<script data-tpl="PieChart" type="text/html">
  <div class="Widget PieChart" data-obj="<%= _.id %>">
    <div class="header">
      <h3><%= _.name %></h3>
    </div>
    <div class="chart_body">
      <svg xmlns="http://www.w3.org/2000/svg"
          class="pie_chart" width="<%: _.size %>px" height="<%: _.size %>px">
        <g class="circle" transform="translate(<%: _.translate %>)">
          <circle class="pie_border" r="<%: _.radius %>" />
          <g class="Colors curves" transform="rotate(<%: _.rotate %>)">
            <% for (var i = 0; i < _.rows.length; i++) { %>
              <% for (var j = 0; j < _.rows[i].length; j++) { %>
                <path class="curve color_<%: j %>" d="<%: _.rows[i][j] %>" />
              <% } %>
            <% } %>
          </g>
        </g>
      </svg>
    </div>
  </div>
</script>
