.PieChart svg {
  display: block;
  cursor: default;
  font-size: inherit;
}

.PieChart .pie_border {
  fill: none;
  stroke: #ccc;
  stroke-width: 1;
}

.PieChart .curve {
  stroke: #f00;
  stroke-width: 1;
  fill: none;
}

.PieChart .curve_0 {
  stroke: rgb(27, 158, 119);
  fill: rgb(27, 158, 119);
}

.PieChart .curve_1 {
  stroke: rgb(217, 95, 2);
  fill: rgb(217, 95, 2);
}

.PieChart .curve_2 {
  stroke: rgb(117, 112, 179);
  fill: rgb(117, 112, 179);
}

.PieChart .curve_3 {
  stroke: rgb(231, 41, 138);
  fill: rgb(231, 41, 138);
}

.PieChart .curve_4 {
  stroke: rgb(102, 166, 30);
  fill: rgb(102, 166, 30);
}

.PieChart .curve_5 {
  stroke: rgb(230, 171, 2);
  fill: rgb(230, 171, 2);
}

.PieChart .curve_6 {
  stroke: rgb(166, 118, 29);
  fill: rgb(166, 118, 29);
}

.PieChart .curve_7 {
  stroke: rgb(102, 102, 102);
  fill: rgb(102, 102, 102);
}
