.PieChart svg {
  display: block;
  cursor: default;
  font-size: inherit;
  margin: 0 auto;
}

.PieChart .pie_border {
  fill: none;
  stroke: #ccc;
  stroke-width: 1;
}

.PieChart .curve {
  stroke-width: 1;
}
