.ChartHighlight {
  position: absolute;
  z-index: 3;
  left: 0;
  top: 0;
}

.ChartHighlight .highlight_group {
  position: absolute;
  top: 0;
  left: 0;
  border-left: 1px dotted #999;
}

.ChartHighlight .values {
  font-size: 80%;
  position: absolute;
  white-space: nowrap;
  border: 1px solid #aaa;
  background-color: #fff;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  padding: .3em 1em;
}

.ChartHighlight .values.left {
  left: 1em;
}

.ChartHighlight .values.right {
  right: 1em;
}

.ChartHighlight .values .value {
  vertical-align: middle;
  display: inline-block;
  width: 3em;
}

.chart_body .highlight .values .name {
  display: inline-block;
  width: 8em;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
}

.ChartHighlight .bullet {
  position: absolute;
  top: 0;
  left: -4px;
  border-radius: 50%;
  width: 8px;
  height: 8px;
}

.ChartHighlight .marker {
  vertical-align: middle;
  display: inline-block;
  position: relative;
  margin-right: .5em;
  width: 30px;
  height: 2px;
}

.ChartHighlight .marker .bullet {
  top: -3px;
  left: 11px;
}

.BarChart .ChartHighlight .highlight_group {
  border-left: none;
}

.BarChart .ChartHighlight .bullet {
  display: none;
}

.BarChart .ChartHighlight .marker {
  top: 3px
}

.BarChart .ChartHighlight .marker .bullet {
  display: block;
  border-radius: 0;
  height: 6px;
  width: 12px;
  left: 9px;
  top: -6px;
}
