.LinearChart .SVGChart {
  width: 100%;
  height: 100%;
  display: block;
  cursor: default;
  font-size: inherit;
}

.LinearChart .axis {
  font-size: 80%;
}

.LinearChart .axis line {
  stroke-width: 1;
  shape-rendering: crispedges;
}

.LinearChart .axis line.axis-line {
  stroke: #333;
}

.LinearChart .axis line.tick-line {
  stroke: #ccc;
}

.LinearChart .axis-left .axis-line {
  display: none;
}

.LinearChart .axis-bottom .tick-line {
  /* display: none; */
}

.LinearChart .axis-left .tick-text {
  text-anchor: end;
}

.LinearChart .axis-bottom .tick-text {
  text-anchor: middle;
}

.LinearChart .curve {
  stroke: #f00;
  stroke-width: 1;
  fill: none;
}

.LinearChart .curve_0 {
  stroke: #1f77b4;
}

.LinearChart .curve_1 {
  stroke: #ff7f0e;
}

.LinearChart .curve_3 {
  stroke: #2ca02c;
}

.LinearChart .curve_4 {
  stroke: #d62728;
}
